# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# Node
node_modules/
package-lock.json

# Sistema
.DS_Store
Thumbs.db

# Editores
.vscode/
.idea/

# Documentos Word (se guardan en C:\UPSE\6to Semestre\Inteligencia_Negocios)
*.docx
